@page
@model IndexModel
@{
    ViewData["Title"] = "Web Super";
}

<div class="text-center">
    <h1 class="display-4">Web Supermercado - Curso Infnet</h1>
    <h2>Bem vindo ao sistema @ViewData["Title"]</h2>
    <p>Sistema mais completo para sua loja</p>
</div>
