@page
@model PrivacyModel
@{
    ViewData["Title"] = "Página de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Sistema desenvolvido por Gleyson Elias.</p>
<p>Todos os direitos reservados pelo desenvolvedor</p>
